* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.hamburger {
    display: none; /* Khbih f l-PC */
}

.flex-container {
    display: flex;
    list-style: none;/* Menu l-kbir i-ban f l-PC */
}


@media (max-width: 768px) {
    
    .hamburger {
        display: block;   /* Hamburger i-ban daba f l-mobile! */
        position: relative;
        padding: 10px;
        background-color: pink; /* Bach i-ban lik l-it-tar dyalou */
        width: fit-content;
    }

    .flex-container {
        display: none;    /* Menu l-kbir d l-PC i-ghber f l-mobile */
    }

    /* Gaddi l-menu li k-i-t-f-te7 ta7t l-hamburger */
    .hamburger-content {
        display: none;    /* I-koun m-khbi f l-lowel */
        position: absolute;
        top: 100%;
        left: 0;
        background-color: pink;
        width: 200px;
        z-index: 1000;
        border-radius: 0 0 10px 10px;
    }

    /* Melli t-7etti l-mouse (Hover) i-ban l-menu */
    .hamburger:hover .hamburger-content {
        display: block;
    }
}
#home {
    position: relative; /* Hada darouri bach l-title i-bqa wast-ha */
    width: 100%;
    min-height: 100vh;  /* Bach i-ched l-shasha kamla */
    overflow: hidden;   /* Bach ma-t-wellich dik l-jrarra */
}
.flex-item{
    
    text-align: left;
       font-family: Georgia, 'Times New Roman', Times, serif;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-style: italic;
       
       
}
.hero-image{
    width: 100%;
    height: auto;
    display: block
    z-index: 1;
}

.gallery-img{
    width: 180px;
    height: 180px;
    border-radius: 8px; 
    object-fit: cover;
    box-shadow: 5px rgb(235, 109, 130);
    margin: 10px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration-color: honeydew;
    z-index: 10; /* Hada houwa li k-i-talla3 l-ktaba l-l-foug */
    width: 90%;
}
.title{
    background-color:transparent;
    color: pink

}


 .button-container{
    background-color: pink;
    padding:8px;
    border: 5px solid rgb(235, 109, 130); 
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.gallery-container{
    max-width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    
}
.gallery-item{
    max-width: 100%;
    font-weight: bolder; 
}
.team-container{
    max-width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
     font-weight: bolder;

}
.team-item img {
    width: 180px;
    height: 180px;
    
    object-fit: cover;
    margin-bottom: 15px;
    
}
.contact-us-container{
    background-color: pink;
    text-align: center
   
}
#copyright{
display: flex;
    line-height: 10vh;
    background-color: black;
    text-align: center;
 }
 .mapa{
    max-width: 100%;
 }


